# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
! pip install gmaps

Requirement already satisfied: gmaps in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied: ipython>=5.3.0 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (7.16.1)
Requirement already satisfied: traitlets>=4.3.0 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (4.3.3)
Requirement already satisfied: geojson>=2.0.0 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: six in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (1.15.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from gmaps) (7.5.1)
Requirement already satisfied: pygments in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (2.6.1)
Requirement already satisfied: jedi>=0.10 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (49.2.0.post20200714)
Requirement already satisfied: backcall in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (3.0.5)
Requirement already satisfied: pickleshare in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: decorator in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: ipython-genutils in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.7)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.3.0->gmaps) (0.6.0)
Requirement already satisfied: wcwidth in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-core in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: tornado>=4.2 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: jupyter-client in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.6)
Requirement already satisfied: terminado>=0.8.1 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: nbconvert in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: Send2Trash in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: pyzmq>=17 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (19.0.1)
Requirement already satisfied: jinja2 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: prometheus-client in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.16.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: bleach in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.5)
Requirement already satisfied: testpath in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: defusedxml in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: packaging in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: webencodings in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/granthicks/opt/anaconda3/lib/python3.8/site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)

In [7]:
! jupyter nbextension enable --py --sys-prefix gmaps

Config option `kernel_spec_manager_class` not recognized by `EnableNBExtensionApp`.
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
# Study data files
weather_metadata = "./Data/weather_data.csv"

# Read the weather data and the study results
weather_data = pd.read_csv(weather_metadata)

# Combine the data into a single dataset
weatherdf = pd.DataFrame(weather_data)
weatherdf.head()

,Unnamed: 0,city,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Carnarvon,-24.87,113.63,68.00,94,90,6.93,AU,1603061442
1,1,Nouadhibou,20.93,-17.03,80.60,47,36,17.22,MR,1603061442
2,2,Severo-Kuril'sk,50.68,156.12,49.59,78,10,11.77,RU,1603061442
3,3,Tasiilaq,65.61,-37.64,33.80,80,74,9.17,GL,1603061442
4,4,East London,-33.02,27.91,62.42,74,32,4.54,ZA,1603061442

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [17]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [46]:
# Store 'Lat' and 'Lng' into  locations 
locations = weatherdf[["Lat", "Lng"]].astype(float)

#weatherdf = weatherdf.dropna()

hum_rate = weatherdf["Humidity"].astype(float)
maxhumidity = hum_rate.max()

In [47]:
# Create the Heatmap layer
fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=hum_rate, 
                                 dissipating=False, max_intensity=maxhumidity,
                                 point_radius = 1, opacity=1)

fig.add_layer(heat_layer)

plt.savefig("./Data/Vacation_Heat_Map.png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [25]:
#Narrow down the DataFrame to find your ideal weather condition.

#A max temperature lower than 80 degrees but higher than 70.
first = weatherdf.loc[weatherdf["Max Temp"]<80,:]
second = first.loc[weatherdf["Max Temp"]>70,:]
second.head()

#Wind speed less than 10 mph.
third = second.loc[second["Wind Speed"]<10,:]
third

#Zero cloudiness.
fourth = third.loc[third["Cloudiness"]==0,:]
fourth.head()

,Unnamed: 0,city,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
58,58,Rosetta,31.40,30.42,73.4,88,0,3.36,EG,1603061435
88,88,Salalah,17.02,54.09,75.2,38,0,3.36,OM,1603061457
157,157,Mīnāb,27.15,57.08,71.6,12,0,6.93,IR,1603061469
299,299,Bandarbeyla,9.49,50.81,78.3,83,0,6.38,SO,1603061492
342,342,Cap Malheureux,-19.98,57.61,73.0,74,0,5.99,MU,1603061499

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [28]:
#Store into variable named hotel_df.
#Add a "Hotel Name" column to the DataFrame.
hotel_df = pd.DataFrame()
fifth = pd.DataFrame(fourth)
hotel_df['city'] = fifth['city']
hotel_df['Country'] = fifth['Country']
hotel_df['Lat'] = fifth['Lat']
hotel_df['Lng'] = fifth['Lng']
#hotel_df['Hotel Name'] = ""
hotel_df.head()

               city Country    Lat    Lng
58          Rosetta      EG  31.40  30.42
88          Salalah      OM  17.02  54.09
157           Mīnāb      IR  27.15  57.08
299     Bandarbeyla      SO   9.49  50.81
342  Cap Malheureux      MU -19.98  57.61

In [31]:
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    latitude = row['Lat']
    longitude = row['Lng']
    city = row['city']
    country = row['Country']

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(f"https://maps.googleapis.com/maps/api/place/textsearch/json?location={latitude},{longitude}&radius=5000&type=hotel&key={g_key}").json()
    
    # extract results
    results = response['results']
    
    try:
        hotelname = response['results'][7]['name']
        print(f"Closest hotel to {city} at {latitude} , {longitude} is {hotelname}.")
        
        hotel_df.loc[index, "Hotel Name"] = hotelname
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 58: Rosetta.
Closest hotel to Rosetta at 31.4 , 30.42 is Al Mokhtabar - Moamena Kamel Laboratories.
------------
Retrieving Results for Index 88: Salalah.
Closest hotel to Salalah at 17.02 , 54.09 is Alrehab Palace 1.
------------
Retrieving Results for Index 157: Mīnāb.
Closest hotel to Mīnāb at 27.15 , 57.08 is Central Melli Bank.
------------
Retrieving Results for Index 299: Bandarbeyla.
Closest hotel to Bandarbeyla at 9.49 , 50.81 is REER XOOSHLE GROUP.
------------
Retrieving Results for Index 342: Cap Malheureux.
Closest hotel to Cap Malheureux at -19.98 , 57.61 is Coin de Mire Attitude Hotel.
------------
Retrieving Results for Index 387: Chabahar.
Closest hotel to Chabahar at 25.29 , 60.64 is Melli Bank بانک ملی شعبه بلوار امام.
------------
Retrieving Results for Index 389: Emerald.
Closest hotel to Emerald at -23.53 , 148.17 is EMERALD EXPLORERS INN.
------------
Retrieving Results for Index 420: Caxias do Sul.
Closest hotel to Caxias do Sul at -29.17 , -51.18 is Swan Tower Caxias do Sul.
------------
Retrieving Results for Index 431: Poya.
Closest hotel to Poya at -21.35 , 165.15 is Mairie de Poya.
------------
Retrieving Results for Index 484: Malindi.
Closest hotel to Malindi at -3.22 , 40.12 is Lawford's Hotel.
------------
Retrieving Results for Index 499: Assiut.
Closest hotel to Assiut at 27.18 , 31.18 is CIB - Commercial International Bank.
------------
Retrieving Results for Index 512: Lohāru.
Closest hotel to Lohāru at 28.45 , 75.82 is TVS SHIV MOTORS.
------------
Retrieving Results for Index 525: Pirganj.
Closest hotel to Pirganj at 25.85 , 88.36 is Oitijjo Mega Shop.
------------

In [32]:
hotel_df.head()

,city,Country,Lat,Lng,Hotel Name
58,Rosetta,EG,31.40,30.42,Al Mokhtabar - Moamena Kamel Laboratories
88,Salalah,OM,17.02,54.09,Alrehab Palace 1
157,Mīnāb,IR,27.15,57.08,Central Melli Bank
299,Bandarbeyla,SO,9.49,50.81,REER XOOSHLE GROUP
342,Cap Malheureux,MU,-19.98,57.61,Coin de Mire Attitude Hotel

In [37]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [42]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Save the image
plt.savefig("./Data/Vacation_Map_With_Hotels.png")

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))